# cache
__pycache__/
*.pyc
volumes/

# Logs
*.log

# env
.env

# Build
build/
dist/
poetry.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Generated Media
media/

# Generated Logs
logs/
tests/scenario_embeddings/result_csvs