Box {
  min-width: 50vw;
  max-width: 60vw;
  font-family: 'Delius Unicase', serif;
  font-weight: 400;
  font-style: normal;
  color: #0f3eb5;
}

HorizStepper {
  font-family: 'Delius Unicase', serif;
  font-weight: 400;
  font-style: normal;
  color: #0f3eb5;
}

Stepper {
  font-family: 'Delius Unicase', serif;
  font-weight: 400;
  font-style: normal;
  color: #0f3eb5;
}

Step {
  HorizStepper {
    font-family: 'Delius Unicase', serif;
    font-weight: 400;
    font-style: normal;
    color: #0f3eb5;
  }
}
